body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.weather-app {
  border: 1px transparent;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 30px;
  margin: 60px auto;
  max-width: 600px;
}

input.search {
  padding: 20px;
  font-size: 17px;
  background-color: #f9f7fe;
  border: 1px transparent;
  border-radius: 4px;
  width: 75%;
}

input.button {
  padding: 20px;
  font-size: 17px;
  color: #fff;
  background-color: #885df1;
  border: 1px solid #885df1;
  border-radius: 4px;
}

.current-weather-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 38px;
  font-weight: 900;
}

p,
ul {
  color: #a9a6b3;
}

strong {
  color: #f65282;
}

.current-temperature > .temperature {
  font-size: 80px;
  font-weight: 900;
}

.unit {
  font-size: 28px;
  position: relative;
  top: -38px;
  font-weight: 400;
}

a {
  color: #885df1;
  cursor: pointer;
}
